---
title: Контакты
---

<div id="fullpage" class="main-page-container-fluid">
    <div class="section main-category-page contacts-inside">

        <div class="container visible-xs visible-sm">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    {% include contact-block.html %}
                </div>
            </div>
        </div>

        <div class="shadow"></div>
        {% include map-container.html %}

        <div class="main-wrapper visible-sm visible-md visible-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% include contact-block2.html %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="bottom-copyright">Все права защищены<br>© ag-group.kz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
