---
title: Услуги
---

<div class="section main-category-page projects-page project-inside offerings-inside">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h2 class="mainest-title">Услуги</h2>
            </div>
            <div class="col-md-4 text-right">
                {% include breadcrumb.html %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% include nav-tabs.html %}
            </div>
                <div class="col-md-8">

                <!-- Tab panes -->
                <div class="tab-content">

                    {% capture tab_text %}
                    <ul>
                        <li>Анализ действующего законодательства Республики Казахстан с целью выявления правовых пробелов</li>
                        <li>Разработка и сопровождение комплексных предложений по совершенствованию законодательства</li>
                        <li>Разработка проектов нормативных правовых актов и их консультационное сопровождение до момента принятия</li>
                        <li>Анализ законодательства зарубежных стран и разработка предложений по
                            имплементации отдельных положений НПА других государств в
                            законодательство РК
                        </li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Нормотворчество"
                        image="offerings_norm.jpg"
                        image_790="offerings_norm_002.jpg"
                        text=tab_text
                        id="post0"
                        is_active=true
                    %}

                    {% capture tab_text %}
                    <ul>
                        <li>Проведение аналитических исследований в сфере энергетики и недропользования</li>
                        <li>Подготовка финансово-экономических моделей для принятия инвестиционных решений в сфере энергетики и недропользования</li>
                        <li>Разработка стратегических управленческих решений</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Аналитические исследования"
                        image="offerings_analytic.jpg"
                        image_790="offerings_analytic_002.jpg"
                        text=tab_text
                        id="post1"
                    %}

                    {% capture tab_text %}
                    <ul>
                        <li>Структурирование и сопровождение сделок по приобретению и продаже компаний / активов</li>
                        <li>Юридический аудит активов (Due Diligence)</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Инвестиционное консультирование и M&amp;A"
                        image="offerings_investment.jpg"
                        image_790="offerings_investment_003.jpg"
                        text=tab_text
                        id="post2"
                    %}

                    {% capture tab_text %}
                    <ul>
                        <li>Участие в разработке проектов документов системы государственного планирования</li>
                        <li>Разработка корпоративных стратегий развития и иных программных документов организаций топливно-энергетического комплекса</li>
                        <li>Разработка стратегических сценариев развития для формирования бизнес-стратегий</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Стратегическое планирование"
                        image="offerings_strategic.jpg"
                        image_790="offerings_strategic_003.jpg"
                        text=tab_text
                        id="post3"
                    %}

                    {% capture tab_text %}
                    <ul>
                        <li>Финансовое и налоговое моделирование</li>
                        <li>Проведение налогового аудита с целью предупреждения рисков доначисления налогов и других обязательных платежей в бюджет</li>
                        <li>Защита интересов налогоплательщиков в ходе проведения налоговых
                            проверок и анализ возможных претензий со стороны проверяющих органов</li>
                        <li>Разъяснение норм налогового законодательства</li>
                        <li>Разработка налоговой учетной политики и методики ведения раздельного налогового учета</li>
                        <li>Экспертиза планируемых сделок на предмет выявления налоговых рисков</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Налоговое консультирование"
                        image="offerings_tax.jpg"
                        image_790="offerings_tax_002.jpg"
                        text=tab_text
                        id="post4"
                    %}

                    {% capture tab_text %}
                    <p><strong>Финансовый Анализ</strong></p>
                    <ul>
                        <li>Анализ / экспертиза финансово-хозяйственной деятельности</li>
                        <li>Финансовое, экономическое планирование и управленческое консультирование</li>
                        <li>Подготовка финансовой модели проектов и обоснования</li>
                        <li>Проведение финансового мониторинга деятельности</li>
                        <li>Налоговое консультирование и структурирование проектов</li>
                        <li>Сопровождение инвестиционных сделок</li>
                    </ul>

                    <p><strong>Слияния (сопровождение сделок)</strong></p>
                    <ul>
                        <li>Консультирования по вопросам слияния и присоединения компаний</li>
                        <li>Консультирование по частному и публичному размещению ценных бумаг</li>
                        <li>Финансовая реструктуризация</li>
                    </ul>

                    <p><strong>Риск-менеджмент</strong></p>
                    <ul>
                        <li>Разработка стратегии риск-менеджмента</li>
                        <li>Решения в области риск-менеджмента</li>
                    </ul>

                    <p><strong>Бухгалтерский и налоговый учет</strong></p>
                    <ul>
                        <li>Восстановление и ведение бухгалтерского и налогового учета</li>
                        <li>Составление отдельной и консолидированной финансовой (бухгалтерской)отчетности в соответствии с МСФО</li>
                        <li>Разработка учетной политики с учетом требований МСФО</li>
                        <li>Составление налоговой отчетности организаций</li>
                        <li>Составление статистической отчетности организаций</li>
                        <li>Составление Учетной политики</li>
                        <li>Налоговый и финансовый duediligence</li>
                    </ul>

                    <p><strong>Исламское финансирование</strong></p>
                    <ul>
                        <li>Консультирование по принципам исламского финансирования</li>
                        <li>Помощь в открытии исламских финансовых организаций (лизинговые компании/микро финансовые организации)</li>
                        <li>Работа с Sharia Advisory services</li>
                        <li>Финансовые исламские продукты –Иджара, Мурабаха, Вакала и т.д.</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Бизнес консалтинг"
                        image="offerings_business.jpg"
                        image_790="offerings_business_003.jpg"
                        text=tab_text
                        id="post5"
                    %}
                    <div role="tabpanel" class="tab-pane fade" id="post5">
                        <div class="text">
                            <p><img loading="lazy" class="size-full wp-image-142 aligncenter" src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%25D0%2591%25D0%25B8%25D0%25B7%25D0%25BD%25D0%25B5%25D1%2581-%25D0%25BA%25D0%25BE%25D0%25BD%25D1%258.jpg" alt="" srcset="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%25D0%2591%25D0%25B8%25D0%25B7%25D0%25BD%25D0%25B5%25D1%2581-%25D0%25BA%25D0%25BE%25D0%25BD%25D1%258.jpg 790w, Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%25D0%2591%25D0%25B8%25D0%25B7%25D0%25BD%25D0%25B5%25D1%2581-%25D0%25BA%25D0%25BE%25D0%25BD%25_002.jpg 300w, Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%25D0%2591%25D0%25B8%25D0%25B7%25D0%25BD%25D0%25B5%25D1%2581-%25D0%25BA%25D0%25BE%25D0%25BD%25_003.jpg 768w" sizes="(max-width: 790px) 100vw, 790px" width="790" height="276"><br>&nbsp;</p>
                            <h2>Бизнес консалтинг</h2>

                        </div>
                    </div>

                    {% capture tab_text %}
                    <ul>
                        <li>Формулированиестратегических целей и перспективразвития бизнеса;
                            разработка финансовой стратегии (привлечение финансирования, оценка
                            стоимости бизнеса, слияния и приобретения, создание стоимости для
                            акционеров)</li>
                        <li>Исследованиевнутренней средыкомпании. Диагностика текущего состояния компании</li>
                        <li>Разработка маркетинговой стратегии компании и маркетинговой политики</li>
                        <li>Консультации по вопросам управления персоналом: оценка структуры компании, оптимизация управленческой структуры</li>
                        <li>Оперативное бизнес-планирование -логистические услуги, реинжиниринг
                            бизнес-процессов, управление проектами, ресурсами и взаимодействие с
                            клиентами</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Управленческий консалтинг"
                        image="offerings_management-300x105.jpg"
                        image_790="offerings_management-768x268.jpg"
                        text=tab_text
                        id="post6"
                    %}


                    {% capture tab_text %}
                    <ul>
                        <li>Комплексное юридическое сопровождение деятельности компаний</li>
                        <li>Консультации по правовым вопросам: корпоративное право, трудовое
                            право, хозяйственная деятельность, валютное, бюджетное, таможенное
                            законодательства и т.д.</li>
                        <li>Правовая экспертиза проектов (в том числе нестандартных) договоров /
                            сделок. Оценка налоговых и финансовых рисков при заключении сделок</li>
                        <li>Регистрация/перерегистрация/ликвидация юридических лиц</li>
                        <li>Разрешительная деятельность (лицензирование)</li>
                        <li>Сопровождение процедуры банкротства</li>
                        <li>Представительство в суде / арбитраже</li>
                    </ul>
                    {% endcapture %}
                    {% include tab-pane.html
                        title="Юридический консалтинг"
                        image="offerings_legal-300x105.jpg"
                        image_790="offerings_legal-768x268.jpg"
                        image="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8%D1%8B%D0%B2.jpg" alt="" srcset="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8%D1%8B%D0%B2.jpg 790w, Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8%D1%8B%D0%B2-300x105.jpg 300w, Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8%D1%8B%D0%B2-768x268.jpg"
                        text=tab_text
                        id="post7"
                    %}
                </div>

            </div>
            <!-- Nav tabs -->

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.nav-tabs li a').click(function(e) {
        })
    });
</script>
