<script type="text/javascript" src="Avantgarde%20Group_files/regenerator-runtime.min.js" id="regenerator-runtime-js"></script>
<script type="text/javascript" src="Avantgarde%20Group_files/wp-polyfill.min.js" id="wp-polyfill-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/ag-group.kz\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type="text/javascript" src="Avantgarde%20Group_files/index.js" id="contact-form-7-js"></script>
<script defer="defer" type="text/javascript" src="Avantgarde%20Group_files/akismet-frontend.js" id="akismet-frontend-js"></script>
