<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            <div class="image-con">
                <img
                    src="{{ site.baseurl }}/assets/{{ include.image }}"
                    class="attachment-full size-full wp-post-image"
                    alt=""
                    loading="lazy"
                    srcset="{{ site.baseurl }}/assets/{{ include.image }} 260w, {{ site.baseurl }}/assets/{{ include.image_small }} 201w"
                    sizes="(max-width: 260px) 100vw, 260px"
                    width="260"
                    height="389"
                >
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="popular-title">{{ include.name }}</h2>
            <div class="text">
                <p>{{ include.description }}</p>
            </div>
            <div class="t phone">{{ include.phone }}</div>
            <div class="t mail">{{ include.email }}</div>
            {% if include.details %}
            <div class="btn close-row">назад</div>
            {% else %}
            <div class="btn open" res="{{ include.block_id }}">Трудовой опыт</div>
            {% endif %}
        </div>
    </div>
</div>
{{ include.details }}
