<div class="row">
    <div class="col-md-12"><h2 class="popular-title with-padding text-center">ПАРТНЕРЫ - ОСНОВАТЕЛИ</h2></div>
</div>

<div class="row partners-row partners-row-main">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="image-con">
                    <img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1.png 260w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1-201x300.png 201w" sizes="(max-width: 260px) 100vw, 260px" width="260" height="389">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="popular-title">РУСЛАН МУХАМЕДОВ</h2>
                <div class="text">
                    <p>Юрист, имеет более чем 10-летний опыт оказания консультационных услуг в сфере энергетики и недропользования</p>
                </div>
                <div class="t phone">+7 701 999 96 74</div>
                <div class="t mail">ruslan@ag-group.kz</div>
                <div class="btn open" res="0">Трудовой опыт</div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="image-con">
                    <img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn.jpg 260w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn-201x300.jpg 201w" sizes="(max-width: 260px) 100vw, 260px" width="260" height="389">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="popular-title">ЖАНАТ МУСАБАЕВ</h2>
                <div class="text">
                    <p>Экономист, имеет более чем 10-летний опыт оказания услуг в сфере налогообложения недропользователей и финансового анализа</p>
                </div>
                <div class="t phone">+7 701 981 83 80</div>
                <div class="t mail">zhanat@ag-group.kz</div>
                <div class="btn open" res="1">Трудовой опыт</div>
            </div>
        </div>
    </div>
</div>

<div class="partners-hidden">
    <div class="row partners-row" res="0">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-con">
                        <img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1.png 260w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/partn1-201x300.png 201w" sizes="(max-width: 260px) 100vw, 260px" width="260" height="389">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="popular-title">РУСЛАН МУХАМЕДОВ</h2>
                    <div class="text">
                        <p>Юрист, имеет более чем 10-летний опыт оказания консультационных услуг в сфере энергетики и недропользования</p>
                    </div>
                    <div class="t phone">+7 701 999 96 74</div>
                    <div class="t mail">ruslan@ag-group.kz</div>
                    <div class="btn close-row">назад</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="accordion" class="panel-group accordion">
                <div class="panel panel-default">
                    <div id="headingOne" class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                <br>
                                Участие в разработке законодательных и подзаконных нормативных правовых актов в нефтегазовой и энергетической отраслях РК:<br>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31645623" target="_blank" rel="noopener noreferrer">
                                        Изменения и дополнения в Закон РК «О недрах и недропользовании»
                                    </a>
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31034349">Закон РК «О государственном регулировании производства и оборота отдельных видов нефтепродуктов» </a>,
                                    <a href="http://online.zakon.kz/Document/?doc_id=36032996" target="_blank" rel="noopener noreferrer">изменения и дополнения</a>
                                    в данный Закон
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31107618" target="_blank" rel="noopener noreferrer">
                                        Закон РК «О газе и газоснабжении» и 12 подзаконных НПА в его реализацию
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://dep-nedra.mid.gov.kz/sites/default/files/pages/kodeks_rus_0.docx" target="_blank" rel="noopener noreferrer">
                                        Проект Кодекса РК «О недрах и недропользовании»
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=30930935" target="_blank" rel="noopener noreferrer">
                                        ППРК
                                        «Об утверждении Правил отнесения месторождения (группы месторождений,
                                        части месторождения) углеводородного сырья к категории
                                        низкорентабельных, высоковязких, обводненных, малодебитных и
                                        выработанных и порядка налогообложения в части налога на добычу полезных
                                        ископаемых»
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=39890470" target="_blank" rel="noopener noreferrer">
                                        ППРК «Об утверждении правил (методики) ценообразования на природный газ» и др.
                                        <br>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingTwo" class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                <br>
                                Участие в разработке государственных и корпоративных программных документов
                                <br>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31581132" target="_blank" rel="noopener noreferrer">
                                        Концепция развития топливно-энергетического комплекса РК
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31631561" target="_blank" rel="noopener noreferrer">
                                        Генеральная схема газификации РК
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://online.zakon.kz/Document/?doc_id=31641775" target="_blank" rel="noopener noreferrer">
                                        Концепция развития газового сектора РК до 2030 года
                                        <br>
                                    </a>
                                </li>
                                <li>
                                    Стратегия развития газовых проектов АО «НК «КазМунайГаз» и др
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                Участие в разработке Национальных энергетических докладов KAZENERGY
                <a href="http://kazenergy.com/images/stories/ob_association/Kazenergy__final_1.pdf" target="_blank" rel="noopener noreferrer">2013</a>,
                <a href="http://kazenergy.com/images/NationalReport15_Russian.pdf" target="_blank" rel="noopener noreferrer">2015</a>
                и 2017 гг.
            </p>
            <p>
                Сопровождение при заключении / изменении контрактов на
                недропользование, заявок на применение льгот по низкорентабельным
                месторождениям и др.
            </p>
        </div>
    </div>
    <div class="row partners-row" res="1">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-con"><img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn.jpg 260w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/dfghjkkjhgfdcfgbhn-201x300.jpg 201w" sizes="(max-width: 260px) 100vw, 260px" width="260" height="389"></div>
                </div>
                <div class="col-md-6">
                    <h2 class="popular-title">ЖАНАТ МУСАБАЕВ</h2>
                    <div class="text">
                        <p>Экономист, имеет более чем 10-летний опыт оказания услуг в сфере налогообложения недропользователей и финансового анализа</p>
                    </div>
                    <div class="t phone">+7 701 981 83 80</div>
                    <div class="t mail">zhanat@ag-group.kz</div>
                    <div class="btn close-row">назад</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    Участие в разработке Налогового кодекса (раздел налогообложение недропользователей)
                </li>
                <li>
                    Участие в подготовке финансово-экономических моделей для принятия инвестиционных решений в сфере разведки и добычи углеводородов
                </li>
                <li>
                    Разработка Региональных схем газификации и Генеральной схемы газификации РК
                </li>
                <li>
                    Сопровождение Закона о госрегулировании оборота нефтепродуктов, методики ценообразования на рынке ГСМ
                </li>
                <li>
                    Разработка консолидированной финансово-экономической модели развития газовой отрасли и Единого национального оператора по газу
                </li>
                <li>
                    Участие в разработке подзаконных актов в части предоставления льгот по низкорентабельным месторождениям
                </li>
                <li>
                    Сопровождение заявок на применение льгот по низкорентабельным месторождениям и др.
                </li>
            </ul>
        </div>
    </div>
</div>
