<div class="section about-us-section">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <img src="Avantgarde%20Group_files/about-us.png">
                </div>
                <div class="col-md-7 col-sm-5">
                    <h2 class="mainest-title">О компании</h2>

                    <h3 class="under-title">Эксперты Avantgarde Group, обладающие непререкаемой компетенцией в сферах недропользования и энергетики,</h3>

                    <div class="text">
                        <ul>
                            <li>Обеспечат Вашей деятельности всестороннее юридическое и финансово-экономическое сопровождение</li>
                            <li>снабдят аргументированными и актуальными исследованиями</li>
                            <li>оценят вероятные сценарии, возможности и риски для Вашего бизнеса</li>
                            <li>обезопасят от нарушений и претензий со стороны государственных структур</li>
                            <li>разработают наиболее оптимальную стратегию развития</li>
                        </ul>
                        <p>и обстоятельно проконсультируют по всем актуальным вопросам,
                            сохранив тем самым Ваши время и силы для плодотворной деятельности и
                            успешного развития.</p>
                        <p>Avantgarde Group. Мы верим, что задачи требуют незамедлительных решений, а партнерство строится на века!</p>
                    </div>

                    <a href="https://ag-group.kz/about-us" class="mainest-button">Подробнее о компании</a>

                </div>
            </div>
        </div>
    </div>
</div>
