<div class="breadcrumb">
    <!-- Breadcrumb NavXT 7.1.0 -->
    <span property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="Go to Avantgarde Group." href="https://ag-group.kz/" class="home">
            <span property="name">Avantgarde Group</span>
        </a>
        <meta property="position" content="1">
    </span>
    -
    <span property="itemListElement" typeof="ListItem">
        <span property="name">О нас</span>
        <meta property="position" content="2">
    </span>
</div>
