<div class="contact-block">
    <h2 class="mainest-title">Контакты</h2>
    <div class="row">
        <div class="col-md-12"><div class="t address">г. Астана, ул. Кунаева 29/1, БЦ “Дипломат”, 10 этаж</div></div>
        <div class="col-md-6"><div class="t phone">+7 701 999 96 74</div></div>
        <div class="col-md-6 text-right"><div class="t mail">info@ag-aroup.kz</div></div>
    </div>

    <div class="form-container">
        <div class="form-horizontal text-left">
            <div role="form" class="wpcf7" id="wpcf7-f81-o2" dir="ltr" lang="ru-RU">
                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                <form action="/contacts/#wpcf7-f81-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="81">
                        <input type="hidden" name="_wpcf7_version" value="5.6.1">
                        <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f81-o2">
                        <input type="hidden" name="_wpcf7_container_post" value="0">
                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title">Напишите нам</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="your-name" class="col-md-2 control-label">ФИО</label><p></p>
                        <div class="col-md-10"><span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false"></span></div>
                    </div>
                    <div class="form-group">
                        <label for="your-email" class="col-md-2 control-label">E-mail</label><p></p>
                        <div class="col-md-10"><span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false"></span></div>
                    </div>
                    <div class="form-group">
                        <label for="your-message" class="col-md-2 control-label">Сообщение</label><p></p>
                        <div class="col-md-10"><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false"></textarea></span></div>
                    </div>
                    <p>
                        [recaptcha]<br>
                        <input type="submit" value="Отправить" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span>
                    </p>
                    <p style="display: none !important;"><label>Δ<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_2" name="_wpcf7_ak_js" value="1659941374720"><script>document.getElementById( "ak_js_2" ).setAttribute( "value", ( new Date() ).getTime() );</script></p>
                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                </form>
            </div>
        </div>
    </div>
</div>
