<div class="menu-fixed {% if include.is_home %}menu-home{% endif %}">
    <div class="top-container">
        <div class="container">
            <div class="row top">

                <a href="https://ag-group.kz/"><div class="center"></div></a>
                <div class="col-md-6">
                    <p class="top-text phone">+7 701 999 96 74</p>
                    <a href="mailto:info@ag-aroup.kz" class="top-text mail">info@ag-aroup.kz</a>
                </div>

                <div class="col-md-6 text-right">
                    <p class="top-text address">г. Астана, ул. Кунаева 29/1</p>
                    <div class="top-text lang">
                        <style type="text/css">
.qtranxs_widget ul { margin: 0; }
.qtranxs_widget ul li
{
display: inline; /* horizontal list, use "list-item" or other appropriate value for vertical list */
list-style-type: none; /* use "initial" or other to enable bullets */
margin: 0 5px 0 0; /* adjust spacing between items */
opacity: 0.5;
-o-transition: 1s ease opacity;
-moz-transition: 1s ease opacity;
-webkit-transition: 1s ease opacity;
transition: 1s ease opacity;
}
/* .qtranxs_widget ul li span { margin: 0 5px 0 0; } */ /* other way to control spacing */
.qtranxs_widget ul li.active { opacity: 0.8; }
.qtranxs_widget ul li:hover { opacity: 1; }
.qtranxs_widget img { box-shadow: none; vertical-align: middle; display: initial; }
.qtranxs_flag { height:12px; width:18px; display:block; }
.qtranxs_flag_and_text { padding-left:20px; }
.qtranxs_flag span { display:none; }
                        </style>
                        <div class="widget qtranxs_widget">
                            <ul class="language-chooser language-chooser-text qtranxs_language_chooser" id="qtranslate--1-chooser">
                                <li class="lang-ru active"><a href="https://ag-group.kz/ru/about-us/" hreflang="ru" title="Русский (ru)" class="qtranxs_text qtranxs_text_ru"><span>Русский</span></a></li>
                                <li class="lang-en"><a href="https://ag-group.kz/en/about-us/" hreflang="en" title="English (en)" class="qtranxs_text qtranxs_text_en"><span>English</span></a></li>
                                <li class="lang-zh"><a href="https://ag-group.kz/zh/about-us/" hreflang="zh" title="中文 (zh)" class="qtranxs_text qtranxs_text_zh"><span>中文</span></a></li>
                            </ul>
                            <div class="qtranxs_widget_end"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu">
                    <ul id="menu-main1-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-74 current_page_item menu-item-76"><a href="https://ag-group.kz/about-us/" aria-current="page">О нас</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="https://ag-group.kz/category/offerings/">Услуги</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a href="https://ag-group.kz/category/analyst/">Аналитика</a></li>
                    </ul>
                    <ul id="menu-main2-1" class="menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a href="https://ag-group.kz/category/news/">Новости</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a href="https://ag-group.kz/category/projects/">Проекты</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://ag-group.kz/contacts/">Контакты</a></li>
                    </ul>
                    <!--
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Аналитика</a></li>
                    </ul>
                    -->
                    <!--
                    <ul>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
