<div class="row mission">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-7">
                <div class="image-con">
                    <img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusmiss.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusmiss.png 311w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusmiss-300x226.png 300w" sizes="(max-width: 311px) 100vw, 311px" width="311" height="234">
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="popular-title text-uppercase">МИССИЯ компании</h2>
                <div class="text">
                    <p>Мы рады применять всю нашу компетенцию, опыт, знания и статус, чтобы Ваш бизнес чувствовал себя предельно уверенно!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-7">
                <div class="image-con">
                    <img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusviden.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusviden.png 311w, Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/aboutusviden-300x226.png 300w" sizes="(max-width: 311px) 100vw, 311px" width="311" height="234">
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="popular-title text-uppercase">ВИДЕНИЕ компании</h2>
                <div class="text">
                    <p>Мы основали компанию на философии клиентоцентризма — с полным осознанием того, что клиент нам доверяет дело всей своей жизни.</p>
                </div>
            </div>
        </div>
    </div>
</div>
