<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-target="#post0" aria-controls="post0" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/off1.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="31"></div>
            <div>Нормотворчество</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post1" aria-controls="post1" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/test-1.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="28"></div>
            <div>Аналитические исследования</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post2" aria-controls="post2" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/investic.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="27" height="31"></div>
            <div>Инвестиционное<br>консультирование и M&amp;A</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post3" aria-controls="post3" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/strategicpartn.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="29"></div>
            <div>Cтратегическое планирование</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post4" aria-controls="post4" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/nalogkonsalt.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="29"></div>
            <div>Налоговое консультирование</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post5" aria-controls="post5" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/bizneskonstalt.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="31"></div>
            <div>Бизнес консалтинг</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post6" aria-controls="post6" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/upravlenkonsalt.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="29" height="31"></div>
            <div>Управленческий консалтинг</div>
        </a>
    </li>
    <li role="presentation" class="">
        <a data-target="#post7" aria-controls="post7" role="tab" data-toggle="tab">
            <div><img src="Avantgarde%20Group%20%C2%BB%20%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8_files/yuridicheskikonstalt.png" class="attachment-31x31 size-31x31 wp-post-image" alt="" loading="lazy" width="31" height="31"></div>
            <div>Юридический консалтинг</div>
        </a>
    </li>
</ul>
