<nav role="navigation" class="navbar navbar-default mobile-menu-my">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://ag-group.kz/"><img src="Avantgarde%20Group%20%C2%BB%20%D0%9E%20%D0%BD%D0%B0%D1%81_files/logo_mob.png"></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-left">
            <ul id="menu-main1" class="menu"><li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-74 current_page_item menu-item-76"><a href="https://ag-group.kz/about-us/" aria-current="page">О нас</a></li>
                <li id="menu-item-38" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="https://ag-group.kz/category/offerings/">Услуги</a></li>
                <li id="menu-item-30" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a href="https://ag-group.kz/category/analyst/">Аналитика</a></li>
            </ul>
            <ul id="menu-main2" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a href="https://ag-group.kz/category/news/">Новости</a></li>
                <li id="menu-item-27" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a href="https://ag-group.kz/category/projects/">Проекты</a></li>
                <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://ag-group.kz/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
