<div class="section offerings-section">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mainest-title">Услуги компании</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post0">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/off1.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="75" height="75"></div></div>
                            <h3 class="title">Нормотворчество</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post1">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/test-1.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="82" height="75"></div></div>
                            <h3 class="title">Аналитические исследования</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post2">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/investic.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="65" height="75"></div></div>
                            <h3 class="title">Инвестиционное<br>консультирование и M&amp;A</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post3">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/strategicpartn.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="80" height="75"></div></div>
                            <h3 class="title">Cтратегическое планирование</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post4">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/nalogkonsalt.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="75" height="70"></div></div>
                            <h3 class="title">Налоговое консультирование</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post5">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/bizneskonstalt.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="74" height="74"></div></div>
                            <h3 class="title">Бизнес консалтинг</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post6">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/upravlenkonsalt.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="70" height="75"></div></div>
                            <h3 class="title">Управленческий консалтинг</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 text-center">
                    <a href="https://ag-group.kz/category/offerings#post7">
                        <div class="block">
                            <div class="image-con"><div class="img"><img src="Avantgarde%20Group_files/yuridicheskikonstalt.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy" width="75" height="75"></div></div>
                            <h3 class="title">Юридический консалтинг</h3>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
