:root {
    --c_23527c: #23527c;
    --c_333333: #333333;
    --c_646464: #646464;
    --c_666666: #666666;
    --c_a0967f: #a0967f;
    --c_a51622: #a51622;
    --c_c20d19: #c20d19;
    --c_cd3744: #cd3744;
    --c_c9c9c9: #c9c9c9;
    --c_ebebeb: #ebebeb;
    --c_fffefe: #fffefe;
    --c_ffffff: #ffffff;
}
